Hello,
<br> Please check yesterdays status of all employees. <br> 
<br>
<table style="border:1px solid black;" width ="90%" >
  <tr style= "font-size :14px; font-family : sans-serif"> 
    <th style= "border:1px solid black;" width = "20%" > Name  </th>
    <th style= "border:1px solid black;" width = "40%" > Current Task </th>
    <th style= "border:1px solid black;" width = "40%" > Next Task </th>
  </tr>
 #foreach($report in $reportList)
  <tr  style= "font-size :14px; font-family : sans-serif">
    <td style= "border:1px solid black;" width = "20%"> $report.name </td>
   	<td style= "border:1px solid black;" width = "40%"> <pre>$report.todaysTask </pre> </td>
	<td style= "border:1px solid black;" width = "40%" > <pre>$report.tomorrowsTask </pre> </td>
  </tr>
 #end
</table>
<br>
<br> 
Thanks.

